---
import PageLayout from "../layouts/PageLayout.astro";
import Config from "../sarissa.config.cjs";
---

<PageLayout pageTitle={Config.menu?.about ?? "A little about me"}>
  <article class="prose max-w-none">
    <p>At Shooting Star Geeks, my vision is to bring all of the great knowledge that I've accumulated over years and share with as many people as I can. This way, we can all move forward together instead of moving forward in silos.</p>

    <p>With this blog, I look to dive into the following topics:</p>
    <p><ul><li>Explaining complicated topics and breaking them down so they are easier to understand.</li><li>How to perform a certain tasks.</li><li>How this site itself is built, because believe it or not, this is just the start. I want to share how this site keeps getting better!</li><li>Reviews of products and services to help you the end users. Taking inspiration from <a href="https://ohnopodcast.com">Oh No Ross and Carrie</a>, I test it so you don't have to.<ul><li><b>Side Note: </b>  I'm a big fan of Oh No Ross and Carrie. There is some NSFW language though, so be warned.</li></ul></li></ul>
    </p>
    <p>I will generally focus on Apple centric topics as I'm a huge fan of the Apple ecosystem, but i'll also delve into cloud technologies, web development and how it effects the end users, and just interesting thoughts about the web technologies in general.
    </p>
    <p>I'd love for everyone to join me along for the ride and I hope to both help people and inspire folks to discover new use cases for their new and existing items.
    </p>
  </article>
</PageLayout>
